@font-face {
    font-family: 'Outfit Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/outfit:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit Variable';
}

h1, h2, h3, h4, p {
    margin: 0px;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    gap: 35px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.nav-icon {
    background-color: #ffffff56;
    padding: 7.5px;
    border-radius: 5px;
    line-height: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-icon:hover{
    background-color: #ffffff2d;
}

.greetings {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#greetingsName {
    color: #FFFFFF;
    width: 80dvw;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* RECENT NOTES */
.recentNotes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80dvw;
}

.recentNotes-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.recentNotes-title {
    align-self: flex-start;
    font-size: 20px;
}

.recentNotes-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 6px;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #FFFFFF;
    width: 202px;
    height: 172px;
    border-radius: 8px;
    padding: 8px;
}

.note-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.dropdown-options {
    position: absolute;
    right: 0px;
}

.note-title-options {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.note-title-options:hover {
    background-color: #e2e2e2;
}

.note-body {
    margin-left: 10px;
    margin-top: -25px;
    overflow: hidden;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    color: #00000090;
    font-size: 13px;
}

.newNote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s;

    p {
        font-weight: bold;
    }

}

.newNote-svg {
    margin-bottom: 34px;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.newNote:hover {
    background-color: #111111;
    color: #FFFFFF;
    gap: 20px;
    
    .newNote-svg {
        animation: rotate 0.5s;
    }
}

/* MODAL USER */
.modal {
    margin-top: 25px;
    color: #FFFFFF;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 6px;
}

.greetingsModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.inputUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px 15px;
    padding-right: 5px;
    border-radius: 50px;
    border: 0px;
}

.inputUser-input {
    border: 0px;
}

.inputUser-input:focus {
    outline: none;
}

.inputUser-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    background-color: #000000;
    border: 0px;
    border-radius: 50px;
    width: 45px;
    height: 30px;
}

.inputUser-btn:hover svg {
    animation: send 0.4s;
}

@keyframes send {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
}